.country-container {
  margin-top: 10px;
  place-self: center;
  margin-top: 100px;
  padding: 30px;
  border-radius: 15px;
  background-color: #ffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  text-align: center;
}

.country-logo {
  width: 150px;
  margin-bottom: 20px;
}

.country-search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.country-search-bar input {
  height: 45px;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #333;
  background: #ebfffc;
  font-size: 16px;
  width: 100%;
  border: 2px solid #7eeddd;
  text-align: center;
}

.country-search-bar img {
  width: 60px;
  padding: 12px;
  cursor: pointer;
}

.country-data {
  width: 100%;
  margin-top: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.country-data .country-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #ebfffc;
  border-radius: 12px;
  border: 1px solid #7eeddd;
}

.country-data .country-row input {
  width: 120px;
  flex: 1;
  margin-left: 15px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.country-data .country-row span {
  margin-left: 15px;
  color: #444;
  font-weight: 500;
}

.country-logout-button {
  background-color: #00c8a1;
  color: white;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #00c8a1;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #009d7a;
}

.title{
    font-size: 24px;
    color: #195877;
    font-weight: bold;
}