.info-panel {
  width: 300px;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #83a4d4, #b6fbff, #dff1ff, #a1c4fd);
  background-size: 400% 400%;
  animation: skyShift 15s ease infinite;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.info-panel h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #2f4680;
}

.emergency-info {
  margin-top: 15px;
  background: #ffff;
  border: 1px solid #f5c2c2;
  padding: 10px;
  border-radius: 10px;
}

.alert-box,
.emergency-box {
  background-color: #7df1eb;
  border-radius: 12px;
  padding: 15px 20px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.alert-box h2,
.emergency-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.emergency-box p {
  margin: 5px 0;
  font-weight: 500;
}

.info-panel ul {
  list-style: none;
  padding-left: 0;
}

.info-panel li {
  margin-bottom: 10px;
  font-size: 16px;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.greeting img {
  width: 50px;
}

.logout-button {
  display: block;
  width: 80px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.logout-button {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #357ab8;
}

.sub-button {
  display: block;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #5ddecb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.sub-button:hover {
  background-color: #4bc5b3;
}